
body			{font-size:12px;}

ul			{margin:0; padding:0;}
li			{list-style:none; }

.floatBox		{clear:both; overflow:auto; zoom:1;}
.float			{float:left;}
.f_right		{float:right;}
.relative		{position:relative;}
.absolute		{position:absolute;}
.gray_text		{color:#999;}
.margin_v_12		{margin:12px 0;}
.margin_h_8		{margin:0 8px;}
.margin_h_18		{margin:0 18px;}
.hl_light_green		{color:#E0FF92;}
.bold_text		{font-weight:bold;}
.tiny_display		{width:0px; height:0px; overflow:hidden;}
.w200			{width:200px;}

p			{margin:0; padding:0;}
ul.indent		{margin:4px 0 4px 12px;}
img.list_img		{border:1px solid black; margin:2px; width:120px; height:120px; }
span.form_error		{color:red; display:block;}


div#header		{background:#FF9900; height:40px; width:776px; border:1px solid black; color:white; padding:12px;}

div#mainBody		{xwidth:802px;}

div#pagerLink		{text-align:center;}
div#pagerLink span		{color:red; font-weight:bold;}


table#mainTable			{width:802px; width:100%; xbackground:#000; border:0;}
table#mainTable th,
table#mainTable td		{background:#FFF; vertical-align:top; padding:6px;}
table#mainTable td.menu		{width:100px;}
table#mainTable td.menu li		{margin:0 0 8px 0;}


table#mainTable div.contentBox				{xborder:1px solid red;}
table#mainTable div.contentBox div.boxHeader			{clear:both;}
table#mainTable div.contentBox div.boxBody			{clear:both;}


table#mainTable div.contentBox table.item_list			{width:100%; background:#000; margin:8px 0;}
table#mainTable div.contentBox table.item_list thead th		{background:#D7D7D7;}
table#mainTable div.contentBox table.item_list th,
table#mainTable div.contentBox table.item_list td		{line-height:18px;}

table#mainTable div.contentBox table.item_list th.num		{text-align:left; width:50px;}
table#mainTable div.contentBox table.item_list th.brand		{}
table#mainTable div.contentBox table.item_list th.edit		{width:60px;}
table#mainTable div.contentBox table.item_list td.edit		{text-align:center;}


table#id_list_result_box 				{background:#CCC;}
table#id_list_result_box th,
table#id_list_result_box td 				{background:#FFF; padding:4px;}

table#id_list_result_box		{width:780px;}

div.product a.current			{color:red; font-weight:bold;}
div.div_result		{margin:12px 0;}

span#user_status	{float:right;}


div#mainContent		{background:#F2F2F2; border:1px solid #C9C9C9; width:800px; padding:32px;}
div.logo		{vertical-align:middle; overflow:auto; zoom:1;}
div.logo img		{float:left;}
div.logo h2		{margin:12px 0 12px 80px;}

table.tbl_selector td		{padding:4px;}
select.se_selector		{width:160px; height:120px;}

table.col_2			{width:360px;}
table.col_4			{width:720px;}






input#id_batch_delete		{margin:0 8px; }
textarea.search_detail		{width:400px; height:100px; font-size:12px; padding:2px;}

