    # Be sure to only have this line once in your configuration
    NameVirtualHost 127.0.0.1:80

    # This is the configuration for matcher
    Listen 127.0.0.1:80

    <VirtualHost 127.0.0.1:80>
      ServerName matcher.localhost
      DocumentRoot "D:\Leakon\code\project\new_service\matcher\project\web"
      DirectoryIndex index.php
      <Directory "D:\Leakon\code\project\new_service\matcher\project\web">
        AllowOverride All
        Allow from All
      </Directory>

      Alias /sf "D:\Leakon\code\project\symfony\sofav_2008_2\stable\symfony-1.2.4\data\web\sf"
      <Directory "D:\Leakon\code\project\symfony\sofav_2008_2\stable\symfony-1.2.4\data\web\sf">
        AllowOverride All
        Allow from All
      </Directory>
    </VirtualHost>
