@charset "utf-8";

*{font-family:Arial, Helvetica, sans-serif;}

/* 入口页样式 */
#entry{width:700px; height:auto; overflow:hidden; margin:80px auto 0 auto;}
#entry #intro{width:700px; height:270px; background: url(/images/intro700.jpg) no-repeat; text-indent:-9999px;  }
#intro h1{text-indent:-9999px; text-align:left;}
#intro h2{text-indent:-9999px; text-align:left;}
#region{width:700px; height:140px; background:url(/images/region.png) no-repeat; position:relative; }
#region h3{text-align:left; text-indent:-9999px;}
#region .engBtn{display:block; position:absolute; left:326px; top:68px; width:56px; height:24px;}
#region .chBtn{display:block; position:absolute; right:59px; top:47px; width:62px; height:25px;}

#wrapper{width:100%; height:auto; overflow:hidden; padding:0 0 20px 0; background:#c3c3c3 url(/images/bg590.png) repeat-x; text-align:center;}
#wrapper .container{width:968px; height:auto; overflow:hidden; margin:0 auto; display:block; text-align:left;}
#wrapper .container .topbar{width:968px; height:50px; background:url(/images/bg968x50.png) no-repeat;}
#wrapper .container .topbar .topNav{float:right; margin:10px;}
#wrapper .container .topbar .topNav a{color:#3b393a; margin:0 10px 0 5px;}

#wrapper .container .header{height:100px; position:relative;}
#wrapper .container .header h1{width:385px; height:60px; background:url(/images/logo_ch.png) no-repeat;  position:absolute; left:6px; top:20px;}
#wrapper .container .header .searchBar{width:300px; height:50px; position:absolute; right:6px; top:20px;}
#wrapper .container .header .searchBar .in195{width:155px; height:23px; line-height:23px; border:1px solid #ccc; background:#ededed; margin:0 10px 0 0; float:left;}
#wrapper .container .header .searchBar .btn75{width:75px; height:30px; background:url(/images/searchBtn75x30.png) no-repeat; border:none; cursor:pointer; margin:-1px 0 0 0; float:left;}
#wrapper .container .mainBody{height:auto; overflow:hidden; background:#f7f7f7; padding:11px 12px;}
#wrapper .container .mainBody .flash300{width:944px; height:300px;}
#wrapper .container .mainBody .mainNav{width:944px; height:30px; background:#1c74bb;}
#wrapper .container .mainBody .mainNav li.current{ display:block; background:#619ed0;}
#wrapper .container .mainBody .content944{width:924px; height:auto; padding:10px; overflow:hidden; background:#ededed;}
#wrapper .container .mainBody .content944 .left{width:620px; height:auto; overflow:hidden; float:left; margin:0 10px 0 0;}

#wrapper .container .mainBody .content944 .left .col200{width:200px; height:auto; overflow:hidden; float:left; padding:10px 0 0 0; margin:0 10px 0 0;}
#wrapper .container .mainBody .content944 .left .col200 .col_pic{width:194px; height:111px; border:2px solid #cdcdcd; }
#wrapper .container .mainBody .content944 .left .col200 .col_pic a{display:block; background:url(/images/pic194x111.jpg) no-repeat; width:194px; height:111px;}
#wrapper .container .mainBody .content944 .left .col200 .col_pic a:hover{display:block; background:url(/images/pic194x111_hover.jpg) no-repeat; width:194px; height:111px;}
#wrapper .container .mainBody .content944 .left .col200 p{line-height:22px; color:#333; text-indent:2em; padding:10px;}
#wrapper .container .mainBody .content944 .left .col200 span{display:block; width:200px; text-align:right; }

#wrapper .container .mainBody .content944 .left .col200_2{width:200px; height:auto; overflow:hidden; float:left; padding:10px 0 0 0; margin:0 10px 0 0;}
#wrapper .container .mainBody .content944 .left .col200_2 .col_pic{width:194px; height:111px; border:2px solid #cdcdcd; }
#wrapper .container .mainBody .content944 .left .col200_2 .col_pic a{display:block; background:url(/images/pic194x111_2.jpg) no-repeat; width:194px; height:111px;}
#wrapper .container .mainBody .content944 .left .col200_2 .col_pic a:hover{display:block; background:url(/images/pic194x111_2hover.jpg) no-repeat; width:194px; height:111px;}
#wrapper .container .mainBody .content944 .left .col200_2 p{line-height:22px; color:#333; text-indent:2em; padding:10px;}
#wrapper .container .mainBody .content944 .left .col200_2 span{display:block; width:200px; text-align:right; }

#wrapper .container .mainBody .content944 .left .col200_3{width:200px; height:auto; overflow:hidden; float:left; padding:10px 0 0 0;}
#wrapper .container .mainBody .content944 .left .col200_3 .col_pic{width:194px; height:111px; border:2px solid #cdcdcd; }
#wrapper .container .mainBody .content944 .left .col200_3 .col_pic a{display:block; background:url(/images/pic194x111_3.jpg) no-repeat; width:194px; height:111px;}
#wrapper .container .mainBody .content944 .left .col200_3 .col_pic a:hover{display:block; background:url(/images/pic194x111_3hover.jpg) no-repeat; width:194px; height:111px;}
#wrapper .container .mainBody .content944 .left .col200_3 p{line-height:22px; color:#333; text-indent:2em; padding:10px;}
#wrapper .container .mainBody .content944 .left .col200_3 span{display:block; width:200px; text-align:right; }


#wrapper .container .mainBody .content944 .right{width:278px; height:390px; padding:10px 0 0 12px; background:url(/images/divLine2x389.png) no-repeat left top;}
#wrapper .container .mainBody .content944 .right .blockA{ height:auto; overflow:hidden; padding:3px; margin-bottom:15px;}
#wrapper .container .mainBody .content944 .right .blockA h3{font-size:14px; font-weight:bold; color:#1c74bb; margin-bottom:10px; text-indent:10px;}
#wrapper .container .mainBody .content944 .right .blockA .pp{width:260px; height:auto; overflow:hidden;}
#wrapper .container .mainBody .content944 .right .blockA .pp li{width:80px; height:80px; float:left;  margin:0 6px 10px 0; _display:inline;}
#wrapper .container .mainBody .content944 .right .blockA .pp li a img{display:block; border:5px solid #cdcdcd;}
#wrapper .container .mainBody .content944 .right .blockA .pp li a:hover img{display:block; border:5px solid #1c74bb;}

#wrapper .container .mainBody .content944 .right .blockB{width:250px; height:auto; overflow:hidden; }
#wrapper .container .mainBody .content944 .right .blockB h3{font-size:14px; font-weight:bold; color:#1b917a; margin-bottom:10px; text-indent:10px;}
#wrapper .container .mainBody .content944 .right .blockB .l{width:120px; height:auto; float:left; overflow:hidden; margin:0 0 0 10px;}
#wrapper .container .mainBody .content944 .right .blockB .l select{width:118px; height:22px; border:1px solid #ccc; margin-bottom:10px;}
#wrapper .container .mainBody .content944 .right .blockB .r{width:70px; float:left;}
#wrapper .container .mainBody .content944 .right .blockB .r .btn70{width:70px; height:35px; background:url(/images/searchBtn70x35.png) no-repeat; border:none; cursor:pointer; margin:20px 0 0 20px; }


#wrapper .container .footer{ padding:20px 10px; text-align:right;}
#wrapper .container .footer a{color:#3b393a; margin:0 5px 0 8px;}

#wrapper .container .banner137{width:942px; height:137px; border:1px solid #ccc; margin-bottom:1px;}
#wrapper .container .mainBody .breadCrumb{width:934px; height:49px; line-height:49px; margin:1px 0 0 0; background:url(/images/bg1x49.jpg) repeat-x; padding:0 0 0 10px;}
#wrapper .container .mainBody .breadCrumb a{margin:0 5px 0 5px;}
#wrapper .container .mainBody .content944 .sideNav{width:160px; height:auto; overflow:hidden; float:left;}
#wrapper .container .mainBody .content944 .sideNav h3{height:30px; padding-left:20px; line-height:30px; background:#1c74bb; font-size:12px; font-weight:bold; color:#fff;}
#wrapper .container .mainBody .content944 .sideNav ul{margin:1px 0 0 0; background:#c6d6e8; padding-bottom:50px;}
#wrapper .container .mainBody .content944 .sideNav ul li{display:block; height:30px; text-indent:33px; line-height:30px; color:#1c74bb;}
#wrapper .container .mainBody .content944 .sideNav ul li a{color:#1c74bb; font-weight:bold; }
#wrapper .container .mainBody .content944 .sideNav ul li a:hover{display:block;  border-bottom:1px solid #8ab3d8; width:160px; text-decoration:none; background:#a2c1de url(/images/arrow.gif) no-repeat 142px 12px; }
#wrapper .container .mainBody .content944 .sideNav ul li.current{display:block;  border-bottom:1px solid #8ab3d8; width:160px; text-decoration:none; background:#a2c1de url(/images/arrow.gif) no-repeat 142px 12px; }
#wrapper .container .mainBody .content944 .sideNav ul li.current a{color:#fff;}

#wrapper .container .mainBody .content944 .rightC{width:720px; padding:20px 10px 30px 10px; height:auto; overflow:hidden; float:right; border-top:5px solid #d7d7d7; background:#fff;}
#wrapper .container .mainBody .content944 .rightC p{line-height:22px; font-size:14px; margin-bottom:15px;}
#wrapper .container .mainBody .content944 .rightC p .innerPic{float:left; margin:0 20px 20px 0;}
#wrapper .container .mainBody .content944 .rightC .newsList{width:600px;}
#wrapper .container .mainBody .content944 .rightC .newsList li{padding:5px 0 8px 5px; border-bottom:1px dashed #ccc; margin-bottom:5px; }
#wrapper .container .mainBody .content944 .rightC .newsList li .date{color:#1c74bb; margin:0 10px 0 0;}
#wrapper .container .mainBody .content944 .rightC .newsList li.last{border-bottom:none;}

#wrapper .container .mainBody .content944 .rightC .pagebar{width:700px; border-top:1px solid #eee; margin:20px 0 0 0; padding:10px 10px 20px 0; text-align:right;}
#wrapper .container .mainBody .content944 .rightC .pagebar a{padding:5px;}
#wrapper .container .mainBody .content944 .rightC .pagebar a.now{font-weight:bold; text-decoration:underline; color:#1c74bb;}
#wrapper .container .mainBody .content944 .rightC .pagebar .next{color:#1c74bb; margin:0 10px 0 10px;}
#wrapper .container .mainBody .content944 .rightC .pagebar .total{color:#1c74bb; margin:0 0 0 20px;}